
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.page-header {
  color: $gray;
  font-family: 'Nunito' !important; //=Baloo|Coda+Caption:
  margin-bottom: 50px !important;
  margin-top: -70px !important;
}
a {
  text-decoration: none !important;
  color: inherit !important;
  @include mediaQ('large') {
      text-decoration: none !important;
      &:hover {
        color: white;
        border-radius: 2px;
        text-decoration: none !important;
        background-color: transparent !important;
      }
  }
}
.row {
  margin-bottom: 20px !important;
}
