* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

h1, h2, h3, h4 {
  color: #919191;
  font-family: 'Nunito'; }

a {
  /*'small' is in the map of variables aka properties*/ }
  @media (min-width: 820px) {
    a {
      text-decoration: none !important; }
      a:hover {
        border-radius: 2px;
        text-decoration: none;
        background-color: transparent !important; } }

.row {
  margin-bottom: 20px !important; }

.card-body .btn {
  margin-left: 10px;
  padding-left: 10px;
  right: 4%;
  position: absolute;
  background-color: transparent;
  border-color: #f83600;
  color: #f83600;
  margin-bottom: 15px;
  transition: background-color .25s, color .25s; }
  .card-body .btn:hover {
    background-image: linear-gradient(to left, #fe8c00 30%, #f83600);
    background-color: white;
    border-color: #fe8c00;
    color: white; }

.material-rating div button {
  /*'small' is in the map of variables aka properties*/ }
  @media (max-width: 380px) {
    .material-rating div button {
      width: 0px !important;
      height: 0px !important; } }

.search {
  margin: 5px 0px 3px 0px;
  text-align: right; }
  .search form .form-group button {
    background-color: transparent;
    padding: 2px 9px;
    margin-left: 5px;
    border-radius: 4px;
    color: #f83600;
    border-top: 2px solid #f83600;
    /*'small' is in the map of variables aka properties*/ }
    @media (min-width: 820px) {
      .search form .form-group button {
        border: 2px solid white;
        color: white; } }
    .search form .form-group button:focus, .search form .form-group button:active {
      color: none; }
  .search form .form-group input {
    border-radius: 4px;
    border-color: #f83600;
    border-style: solid;
    padding: .1%;
    word-spacing: 1px;
    padding-left: 6px;
    color: #707070;
    width: 96%;
    /*'small' is in the map of variables aka properties*/ }
    @media (min-width: 440px) {
      .search form .form-group input {
        width: 60%;
        border-color: white; } }
    .search form .form-group input:focus, .search form .form-group input:active {
      color: #919191;
      border-color: white; }

.content {
  height: 200px; }

.nav-fostrap {
  font-family: 'Nunito', 'Raleway', sans-serif;
  display: block;
  font-size: 16px;
  color: #666;
  background-image: linear-gradient(to right, #fe8c00, #f83600);
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  -ms-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  -o-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  border-radius: 3px; }

.nav-fostrap ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: block;
  z-index: 1; }

.nav-fostrap li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline-block;
  position: relative;
  font-size: 14;
  color: white; }

.nav-fostrap li a {
  padding: 15px 20px;
  font-size: 14;
  color: white;
  display: inline-block;
  outline: 0;
  font-weight: 400; }

.nav-fostrap li:hover ul.dropdown {
  display: block; }

.nav-fostrap li ul.dropdown {
  position: absolute;
  display: none;
  width: 200px;
  background: #f83600;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  -ms-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  -o-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  padding-top: 0; }

.nav-fostrap li ul.dropdown li {
  display: block;
  list-style-type: none; }

.nav-fostrap li ul.dropdown li a {
  padding: 15px 20px;
  font-size: 15px;
  color: #fff;
  display: block;
  font-weight: 400; }

.nav-fostrap li ul.dropdown li:last-child a {
  border-bottom: none; }

.nav-fostrap li:hover a {
  background: #ff420d;
  color: #fff !important; }

.nav-fostrap li:first-child:hover a {
  border-radius: 3px 0 0 3px; }

.nav-fostrap li ul.dropdown li:hover a {
  background: rgba(0, 0, 0, 0.1); }

.nav-fostrap li ul.dropdown li:first-child:hover a {
  border-radius: 0; }

.nav-fostrap li:hover .arrow-down {
  border-top: 5px solid #fff; }

.arrow-down {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid white;
  position: relative;
  top: 15px;
  right: -5px;
  content: ''; }

.title-mobile {
  display: none;
  font-family: 'Permanent Marker', cursive; }

@media only screen and (max-width: 820px) {
  .nav-fostrap {
    background: #fff;
    width: 200px;
    height: 100%;
    display: block;
    position: fixed;
    left: -200px;
    top: 0px;
    -webkit-transition: left 0.25s ease;
    -moz-transition: left 0.25s ease;
    -ms-transition: left 0.25s ease;
    -o-transition: left 0.25s ease;
    transition: left 0.25s ease;
    margin: 0;
    border: 0;
    border-radius: 0;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%; }

  .title-mobile {
    position: fixed;
    display: block;
    top: 10px;
    font-size: 20px;
    left: 100px;
    right: 100px;
    text-align: center;
    color: #FFF; }

  .nav-fostrap.visible {
    z-index: 1;
    left: 0px;
    -webkit-transition: left 0.25s ease;
    -moz-transition: left 0.25s ease;
    -ms-transition: left 0.25s ease;
    -o-transition: left 0.25s ease;
    transition: left 0.25s ease;
    color: #f83600 !important; }

  .nav-bg-fostrap {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    height: 50px;
    margin: 0;
    position: absolute;
    top: 0px;
    left: 0px;
    background: linear-gradient(to right, #fe8c00, #f83600);
    padding: 12px 0 0 10px;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    -ms-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    -o-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    z-index: 1; }

  .navbar-fostrap {
    display: inline-block;
    vertical-align: middle;
    height: 50px;
    cursor: pointer;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    padding: 12px; }

  .navbar-fostrap span {
    height: 2px;
    background: #fff;
    margin: 5px;
    display: block;
    width: 20px; }

  .navbar-fostrap span:nth-child(2) {
    width: 20px; }

  .navbar-fostrap span:nth-child(3) {
    width: 20px; }

  .nav-fostrap ul {
    padding-top: 50px; }

  .nav-fostrap li {
    display: block; }

  .nav-fostrap li a {
    display: block;
    color: #f83600;
    font-weight: 600; }

  .nav-fostrap li:first-child:hover a {
    border-radius: 0; }

  .nav-fostrap li ul.dropdown {
    position: relative; }

  .nav-fostrap li ul.dropdown li a {
    background: ligthen(#f83600, 4) !important;
    border-bottom: none;
    color: #fff !important; }

  .nav-fostrap li:hover a {
    background: #ff420d;
    color: #fff !important; }

  .nav-fostrap li ul.dropdown li:hover a {
    background: rgba(0, 0, 0, 0.1) !important;
    color: #fff !important; }

  .nav-fostrap li ul.dropdown li a {
    padding: 10px 10px 10px 30px; }

  .nav-fostrap li:hover .arrow-down {
    border-top: 5px solid #fff; }

  .arrow-down {
    border-top: 5px solid #505050;
    position: absolute;
    top: 20px;
    right: 10px; }

  .cover-bg {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; } }
@media only screen and (max-width: 1199px) {
  .container {
    width: 96%; } }
.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0; }

.container {
  width: 80% !important;
  margin: -140px auto 0px !important;
  max-width: 1200px;
  margin: 0 auto;
  z-index: -20; }

.crop {
  height: 380px;
  /*width: 400px;*/
  overflow: hidden; }

.crop img {
  height: auto;
  width: 100%;
  margin: 0px 1px; }

.movieCard {
  margin: 0px 0px;
  padding: 0px;
  box-sizing: content-box;
  color: #919191;
  font-family: 'Nunito';
  word-spacing: 1px; }

.glyphicon-heart, .glyphicon-heart-empty {
  color: #d7706d;
  transform: scale(1.7); }

.movieTitle {
  font-weight: bold;
  font-size: 1.68rem; }

.card-body {
  padding: 4px 9px 10px; }

.card-text {
  font-size: 1.52rem; }

span.material-rating {
  padding-top: 45px; }

.material-rating div {
  display: inline !important;
  margin-top: 20px !important; }

/*# sourceMappingURL=index.css.map */
